
.icon-videocam:before { content: '\e800'; } /* '' */
.icon-camera-alt:before { content: '\e801'; } /* '' */
.icon-th-large:before { content: '\e802'; } /* '' */
.icon-comment:before { content: '\e803'; } /* '' */
.icon-tint:before { content: '\e804'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-plug:before { content: '\f1e6'; } /* '' */
.icon-newspaper:before { content: '\f1ea'; } /* '' */
.icon-genderless:before { content: '\f22d'; } /* '' */
.icon-scribd:before { content: '\f28a'; } /* '' */
.icon-gitlab:before { content: '\f296'; } /* '' */
